*{
    margin: 0;
    padding: ;
}

.main{
    background: lightgray;
}


.pin-generator, .input-section{
    min-height: 450px;
    background: gray;
    padding: 2rem;
    border-radius: .5rem;
}

#generate-btn{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#display-pin{
    margin-bottom: 80px;
}

.calc-body{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: .5rem; 
}

.button{
    height: 60px;
    background: orange;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}
.button:hover{
    background: rgb(248, 189, 79);

}
.notify-section p{
    display: none;
}